<div class="col-lg-6 col-md-4 col-sm-4 mb">
  <div class="weather-2 pn">
    <div class="weather-2-header">
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <p>Create Employee Accessary </p>
        </div>
      </div>
    </div>
    <%= render 'form' %>
    <%= link_to 'Cancel', new_accessary_path, :class =>"btn btn-danger btn-sm btnnew" %>
    <%= link_to 'List', accessaries_path, :class =>"btn btn-warning btnnew btn-sm" %>
  </div>
</div>

