<p id="notice" class="flash-message"><%= notice %></p>
<div class="col-lg-6 col-md-4 col-sm-4 mb">
  <div class="weather-2 pn">
    <div class="weather-2-header">
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <p style="font-size:16px"> Peripheral </p>
        </div>
      </div>
    </div><br>
    <p>
      <label class="col-sm-2 col-sm-2 control-label emplbl">Name </label>
      <%= @peripheral.name %>
    </p><br>
   <%= link_to 'Ok',new_accessary_path, :class =>"btn btn-theme btnnew" %>
  </div>
</div>