.admin_login{
    padding: 10px 28px ! important;
}
.form-login{
    margin-top: 80px ! important;
}
.header{
 min-height: 0px ! important; 
}
#main-content {
  margin-left: 0px ! important;
}
.pn {
  height: inherit ! important;
}
.label{
  margin-left: 30px;
}
.btnnew{
  margin-left: 30px;
  margin-bottom: 10px;
}
.mb {
  margin-left: 240px;
  margin-top: 40px;
}
.btnback{
    margin-left: 5px;
    margin-bottom: 10px;
}
.btnalign{
  float: left;
}
.tblalign{
    margin-left: 330px;
    margin-top: 20px;
}
.emplbl{
  font-size: 16px;
  font-family: fantasy;
}
.flash-message {
  background-color: #A4E7A0;
  color: black;
  z-index: 999;
  position: fixed;
  font-weight: bold;
  width: 96%;
  margin: 20px;      
}
#notice{
  width: 240px;
  margin-left: 380px;
}
.tblsys{
    margin-left: 250px;
    margin-top: 20px;
}
.lisidebar{
  font-size: 16px ! important;
}
.btnadd{
  float: right;
  margin: -33px 37px;
}
.form{
  width: 75% !important;
}