<% if signed_in? %>
<header class="header black-bg">
  <a href="" class="logo"><b>Desk Accessory App</b></a>
  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li>
        <%= link_to "logout", destroy_admin_session_path, :method => :delete, :class =>"logout"%>
      </li>
    </ul>
  </div>
</header>
<aside>
  <div id="sidebar"  class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
      <li class="sub-menu">
        <%= link_to "Accessory",new_accessary_path %>
      </li>
      <li class="sub-menu">
        <%= link_to "Monitor",new_moniter_path %>
      </li>
      <li class="sub-menu">
        <%= link_to "System",new_system_path %>
      </li>
    </ul>
  </div>
</aside>
<% end %>


